body {
  color: #333333;
  height: 100%;
  font-family: Verdana, serif;
}

h1 {
  font-family: Palatino, serif;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
  
.content {
  height: auto;
  min-height: 100%;
}

.left {
  width: 48%;
  float: left;
}

.center {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.right {
  float: right;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 50%;
  background-color: #ccccff;
}

.right p {
  font-size: 14pt;
}

.footer {
  position: relative;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  margin: 10pt;
}

.banner {
  min-height: 20pt;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.banner > .links {
  float: right;
}

.banner a {
  font-size: 12pt;
  text-decoration: none;
  border-bottom: 1px dotted blue;
  font-family: Verdana, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.block {
  border: 1px solid #0000ff;
  padding: 10px; 
  margin: 10px;
  font-family: Verdana, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
  background-color: #99ccff;
  text-align: center;
}
   
.block a {
  text-decoration: none;
  color: #000000;
}

.block a:hover {
  text-decoration: underline;
}
