textarea {
  resize: none;
  font: Helvetica, sans-serif;
  font-size: 16pt;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
}

.msg {
  border-top: 1px solid gray;
  margin: 5px;
}

.msg b {
  color: black
}

.length {
  font-family: Times;
  font-size: 20pt;
}

.tweetBlock {
  opacity: 0;
  -webkit-transition: opacity 3s linear;
}

.tweets {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  color: #333333;
  padding: 5px;
  margin: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #888;
}

.status {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: #333333;
  margin: 5px;
}

body {
  min-width: 400px;
  max-width: 600px;
}

.inputPanel {


}

.inputPanel textarea {
  width: 100%;
}

.loginPanel {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  height: 100%; 
  width: 100%;
}

.lightbox {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  height: 100%; 
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

.loginPanel .controls {
  position: absolute;
  background-color: #eeeeee;
  border: 1px solid black;
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  color: #333333;
  left: 50px;
  top: 50px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #888;
  opacity: 1;
}

.loginPanel input {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  color: #333333;
}
  
.button {
  border: 1px solid gray;
  background-color: #ccccff;
  height: 22pt;
  margin: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
  font-style: italic;
  -webkit-border-radius: 5px;
}

.text {
  border: 1px solid gray;
  -webkit-border-radius: 5px;  
}

.footer {
  position: fixed;
  bottom: 5px;

  width: 100%;
  text-align: center;
  font-size: 8pt;
  font-family: Helvetica, sans-serif;
  color: #333333;
}
